57 6-19/2 * * * root /code/ccgptask.sh >> /var/log/cron.log 2>&1
27 7-18/2 * * * root /code/ccgptasknoproxy.sh >> /var/log/cron.log 2>&1
0 19 * * * root /code/checkproxybaidu/tool/reportgen.sh >> /var/log/cron.log 2>&1


